@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap'); /* font import */

/* Pattern config */
*{
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    width: 100vw;
    height: 100vh;
}
/* Content area config */
main{
    width: 60%;
    display: inline-block;
}
.container-main{
    width: 540px;
    margin-top: 220px;
    margin-left: 80px;
}
.container-main h1{
    width: 368px;
    font-size: 70px;
    font-weight: 400;
    line-height: 80px;
    color: #5D5D7D;

}
.container-main p{
    font-size: 28px;
    font-weight: 400;
    line-height: 48px;
    opacity: 0.6;
    color: #5D5D7D;
    margin: 15px 0;
}
.container-main button{
    width: 269px;
    height: 62px;
    background: #9499EA;
    color: white;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    border: none;
    border-radius: 32px;
    cursor: pointer;
}
.container-main button:hover{
    background: #686edb;
}
/* Header area config */
header{
    display: inline-block;
}
.container-header{
    background: rgba(93, 93, 125, 0.16);
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 57px;
}
.foto{
    height: 450px;  
    position: relative;
    top: 15%;
    right: 40%;
}
.container-header ul li{
    display: inline-block;
    margin-right: 41px;
    margin-top: 20px;
}
.container-header ul a{
    font-size: 28px;
    font-weight: 400;
    line-height: 41px;
    color: #5D5D7D;
}
.container-header ul a:hover{
    font-size: 28px;
    font-weight: 400;
    line-height: 41px;
    color: #ffffff;

}


/**************   MEDIA QUERY's   **************/

@media screen and (max-width:280px) { 
    main{
        width: 100%;
        height: 73%;
    }
    .container-main{
        width: auto;
        margin: 60px 40px 0px 40px;
    }
    .container-main h1{
        width: auto;
        font-size: 40px;
        font-weight: 400;
        line-height: 52px;
        color: #5D5D7D;
        text-align: center;
    }
    .container-main p{
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        margin: 20px auto;
        text-align: center;
    }
    .container-main button{
        width: 190px;
        height: 62px;
        display: block;
        margin: 0 auto;
    }
    header{
        width: 100%;
        display: block;
    }
    .container-header{
        position: static;
    }
    .container-header ul{
        display: none;
    }
    .container-header img{
        position: static;
        padding-right: 40px;
        margin: 80px auto 0px auto;
        width: 100%;
        height: 70%;
    }
}
/*       extra-small 281px - 320px      */
@media screen and (min-width:281px) and (max-width:320px){
    main{
        width: 100%;
        height: 57%;
    }
    .container-main{
        width: auto;
        margin: 50px 40px 0px 40px;
    }
    .container-main h1{
        width: auto;
        font-size: 36px;
        font-weight: 400;
        line-height: 52px;
        color: #5D5D7D;
        text-align: center;
    }
    .container-main p{
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
    }
    .container-main button{
        width: 240px;
        height: 62px;
        display: block;
        margin: 0 auto;
    }
    header{
        width: 100%;
        display: block;
        height: auto;
    }
    .container-header{
        position: static;
    }
    .container-header ul{
        display: none;
    }
    .container-header img{
        position: static;
        padding-right: 40px;
        margin: 50px auto 0px auto;
        width: 98%;
        height: 77%;
    }
}

/*    Specific for iPhone 4 - width 320px - height 480px   */
@media screen and (width:320px) and (height:480px) { 
    main{
        width: 100%;
        height: 70%;
        margin-bottom: 10px;
    }
    .container-main{
        width: auto;
        margin: 30px 40px 0px 40px;
    }
    .container-main h1{
        width: auto;
        font-size: 36px;
        font-weight: 400;
        line-height: 52px;
        color: #5D5D7D;
        text-align: center;
    }
    .container-main p{
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
    }
    .container-main button{
        width: 240px;
        height: 62px;
        display: block;
        margin: 0 auto;
    }
    header{
        width: 100%;
        display: block;
        height: auto;
    }
    .container-header{
        position: static;
    }
    .container-header ul{
        display: none;
    }
    .container-header img{
        position: static;
        padding-right: 40px;
        margin: 30px auto 10px auto;
        width: 95%;
        height: 83%;
    }
}
/*     width 321px - width 360px   */
@media screen and (min-width:321px) and (max-width:360px) {
    main{
        width: 100%;
        height: 60%;
    }
    .container-main{
        width: auto;
        margin: 55px 40px 0px 40px;
    }
    .container-main h1{
        width: auto;
        font-size: 36px;
        font-weight: 400;
        line-height: 52px;
        color: #5D5D7D;
        text-align: center;
    }
    .container-main p{
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        margin: 25px auto 20px auto;
        text-align: center;
    }
    .container-main button{
        width: 240px;
        height: 62px;
        display: block;
        margin: 0 auto;
    }
    header{
        width: 100%;
        display: block;
        height: auto;
    }
    .container-header{
        position: static;
    }
    .container-header ul{
        display: none;
    }
    .container-header img{
        position: static;
        padding-right: 40px;
        margin: 56px auto 10px auto;
        width: 98%;
        height: 83%;
    }
}
/*     width 361px - width 375px   */
@media screen and (min-width:361px) and (max-width:375px) {
    main{
        width: 100%;
        height: 60%;
    }
    .container-main{
        width: auto;
        margin: 55px 40px 0px 40px;
    }
    .container-main h1{
        width: auto;
        font-size: 36px;
        font-weight: 400;
        line-height: 52px;
        color: #5D5D7D;
        text-align: center;
    }
    .container-main p{
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        margin: 25px auto 20px auto;
        text-align: center;
    }
    .container-main button{
        width: 240px;
        height: 62px;
        display: block;
        margin: 0 auto;
    }
    header{
        width: 100%;
        display: block;
        height: auto;
    }
    .container-header{
        position: static;
    }
    .container-header ul{
        display: none;
    }
    .container-header img{
        position: static;
        padding-right: 40px;
        margin: 56px auto 10px auto;
        width: 98%;
        height: 83%;
    }
}
/*     width 376px - width 393px   */
@media screen and (min-width:376px) and (max-width:393px) {
    main{
        width: 100%;
        height: 56%;
        margin-bottom: 15px;
    }
    .container-main{
        width: auto;
        margin: 65px 40px 0px 40px;
    }
    .container-main h1{
        width: auto;
        font-size: 60px;
        font-weight: 400;
        line-height: 68px;
        color: #5D5D7D;
        text-align: center;
    }
    .container-main p{
        font-size: 23px;
        font-weight: 400;
        line-height: 24px;
        margin: 25px auto 25px auto;
        text-align: center;
    }
    .container-main button{
        width: 315px;
        height: 62px;
        display: block;
        margin: 0 auto;
    }
    header{
        width: 100%;
        display: block;
        height: auto;
    }
    .container-header{
        position: static;
    }
    .container-header ul{
        display: none;
    }
    .container-header img{
        position: static;
        padding-right: 40px;
        margin: 126px auto 10px auto;
        width: 98%;
        height: 57%;
    }
}
/*     width 394px - width 414px   */
@media screen and (min-width:394px) and (max-width:414px) {
    main{
        width: 100%;
        height: 56%;
        margin-bottom: 15px;
    }
    .container-main{
        width: auto;
        margin: 65px 40px 0px 40px;
    }
    .container-main h1{
        width: auto;
        font-size: 60px;
        font-weight: 400;
        line-height: 68px;
        color: #5D5D7D;
        text-align: center;
    }
    .container-main p{
        font-size: 23px;
        font-weight: 400;
        line-height: 24px;
        margin: 25px auto 25px auto;
        text-align: center;
    }
    .container-main button{
        width: 315px;
        height: 62px;
        display: block;
        margin: 0 auto;
    }
    header{
        width: 100%;
        display: block;
        height: auto;
    }
    .container-header{
        position: static;
    }
    .container-header ul{
        display: none;
    }
    .container-header img{
        position: static;
        padding-right: 40px;
        margin: 56px auto 10px auto;
        width: 98%;
        height: 77%;
    }
}
